{% extends 'login/login.html' %} {% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


<title>GewnL</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">


    <div class="container" style="margin-top: 8rem;margin-bottom: 50vh;">
        <h4 class="fw-blod text-muted" style="color: black;">
            Términos y Condiciones de Uso de Gwen Luyalva
        </h4>
        <hr>
        <br>
        <p class="text-secondary mt-5">
            

Bienvenido a Gwen Luyalva. Los siguientes términos y condiciones (en adelante, "Términos") regulan el uso de nuestro sitio web y los servicios que ofrecemos. Al acceder y utilizar nuestros servicios, aceptas cumplir y estar sujeto a estos Términos. Si no estás de acuerdo con estos Términos, por favor, no utilices nuestro sitio web.

1. Registro de Cuenta
1.1. Para acceder a nuestros cursos y servicios, debes crear una cuenta utilizando una dirección de correo electrónico válida y una contraseña segura.
1.2. Eres responsable de mantener la confidencialidad de tu contraseña y de todas las actividades que ocurran en tu cuenta.
1.3. No compartas tu información de inicio de sesión con terceros y notifícanos inmediatamente cualquier uso no autorizado de tu cuenta.

2. Compra de Cursos
2.1. Ofrecemos cursos que pueden ser adquiridos a través de nuestro sitio web.
2.2. Los precios de los cursos están indicados en nuestra página de compra y pueden estar sujetos a cambios sin previo aviso.
2.3. Los pagos se procesan a través de PayPal. Al hacer una compra, aceptas los términos y condiciones de PayPal.

3. Uso de los Cursos
3.1. Los cursos que adquieras en Gwen Luyalva son para tu uso personal y no pueden ser compartidos, revendidos ni distribuidos sin nuestro consentimiento.
3.2. Te comprometes a utilizar los cursos de manera ética y legal y a respetar los derechos de propiedad intelectual de los materiales proporcionados.

4. Cancelaciones y Reembolsos
4.1. Nuestra política de cancelación y reembolso se rige por los términos de PayPal y las políticas específicas de cada curso. Te recomendamos revisar dichas políticas antes de realizar una compra.

5. Privacidad
5.1. Respetamos tu privacidad y protegemos tus datos personales. Consulta nuestra Política de Privacidad para obtener información detallada sobre cómo recopilamos, utilizamos y protegemos tus datos.

6. Modificaciones en los Términos
6.1. Nos reservamos el derecho de modificar estos Términos en cualquier momento. Las modificaciones entrarán en vigencia tan pronto como se publiquen en nuestro sitio web. Te recomendamos revisar regularmente estos Términos para estar al tanto de cualquier cambio.

7. Contacto
7.1. Si tienes preguntas o comentarios sobre estos Términos y Condiciones, por favor, contáctanos a través de [tu dirección de correo electrónico de contacto].

Al utilizar Gwen Luyalva, aceptas estos Términos y Condiciones. Te recomendamos que los leas detenidamente y que los consultes de forma regular, ya que están sujetos a cambios. Si no estás de acuerdo con estos términos, te pedimos que no utilices nuestro sitio web ni nuestros servicios.
        </p>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script>
<script src="{% static 'inicio_sesion/js/loger.js' %}"></script>
<script src="{% static 'inicio_sesion/js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
{% endblock %}