{% extends 'inicio_sesion/dashboard.html' %} {% load static %}{% load humanize %}


{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Mi perfil</a></li>
                                <li class="breadcrumb-item active">Contraseña</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Cambiar mi contraseña</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row justify-content-end" id="alert" style="position: absolute;width: -webkit-fill-available; z-index: 5; display: none;">
                <div class="col-lg-4 col-md-8 col-12"> 
                                                                         
                    <div class="alert alert-success" role="alert">
                        <i class="ri-check-line me-2"></i> Tu contraseña <strong>cambío</strong> correctamente!
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="card col-lg-6 col-md-8 col-12">
                    
                    
                   
           
                    
               <form action="{% url 'fun_change_password' %}" method="post">
                {% csrf_token %}

                <div class="mb-3 mt-3">
                    <label for="password" class="form-label">Ingresa nueva contraseña</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Mi nueva contraseña">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pasword2" class="form-label">Confirmar contraseña</label>
                    <div class="input-group input-group-merge">
                        <input type="password"  class="form-control" placeholder="Confirmar mi nueva contraseña">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
                <div class="d-grid mb-3">
                    <button type="submit" onclick="showAlert()"  class="btn btn-soft-primary">Cambiar mi contraseña</button>
                </div>
               </form>
                    

                    <!-- end d-grid -->
                </div>
            </div>
        </div> <!-- container -->

    </div> <!-- content -->
<script>
    function showAlert() {
        var alert = document.getElementById('alert').style.display = "flex";
        console.log(document.getElementById('password').value);

    }
</script>
   

{%endblock%}