@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.limit-caracter {
  max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.limit-caracter-10 {
  max-width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hover-grow {
  transition: all 0.5s;
}


a {
  text-decoration: none;
}


.hover-grow:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.img-zoom{
  transition: all 0.5s;
}
.img-zoom:hover{
  transform: scale(1.1);
}
.contenedor-sombra{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.bg-morado-gr{
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}
*{
  font-family: 'Montserrat', sans-serif;

}
.animated {
  transform: scale(1.2);
  transition: transform 1.2s ease-in-out;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

}
.post-image-bg{
  filter: brightness(0.5);
}
.letra-blanca{
  color: white;
}
.bg-facebook {
  background-color: #5d82d1;
  color: var(--bs-white);
}
.bg-instagram-gradient {
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: var(--bs-white);
  background-size: 120% 120%;
  background-position: right bottom;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}
.bg-youtube {
  background-color: #ff0000;
  color: var(--bs-white);
}

header {
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}

.fnt-roboto{
  font-family: 'Roboto', sans-serif !important;
}

.mayus{
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  
}  
.carrito-largo{
  height: 70vh;
  overflow-y: scroll;
  @media (max-width: 768px) {
      height: 60vh;
      overflow-y: scroll;

  }
}

.fnt-monse{
  font-family: 'Montserrat', sans-serif;

} 