{% extends 'inicio_sesion/dashboard.html' %} {% load static %}{% load humanize %}


{% block content%}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'comentarios/css/comm_dash.css' %}">
<link
    href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/b-2.4.1/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rr-1.4.1/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.css"
    rel="stylesheet">
<script src="{% static 'blog/js/pages/code.jquery.com_jquery-3.7.0.js' %}"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="javascript: void(0);">Plataforma</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript: void(0);">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Comentarios</li>
                    </ol>
                </div>
                <h4 class="page-title text-uppercase">Comentarios</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card">
                <div class="card-body ">
                    <table id="example" class="table table-striped" style="width:100%; font-family: nunito;">
                        <thead class="" style="background-color: rgb(104, 203, 238);">
                            <tr>
                                <th style="color: white;">Usuario</th>
                                <th style="color: white;">Comentario</th>
                                <th style="color: white;">Estado</th>
                                <th style="color: white;">Fecha</th>
                                <th style="color: white;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comen in comentarios %}
                            <tr id="{{comen.id}}">
                                <td class="text-capitalize">{{comen.usuario}}</td>
                                <td onclick="ver_comentario(this.getAttribute('data-coment'))"
                                    data-user="{{comen.usuario}}" 
                                    data-coment="{{comen.comentario}}"
                                    class="limited-text">
                                    {{comen.comentario}}
                                </td>
                                {% if comen.estatus == False %}
                                <td class="text-danger fw-bold">Sin aprobar</td>
                                {% else %}
                                <td class="text-success fw-bold">Aprobado</td>
                                {% endif %}
                                <td>{{comen.fecha}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-light " type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class=" ri-settings-2-line fs-5"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="aprobar_comm(this)" href="#">Aprobar</a>
                                            <a class="dropdown-item" onclick="debegar_comm(this)" href="#">Denegar</a>
                                            <a class="dropdown-item" onclick="eliminar_comm(this)" href="#">Eliminar</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Usuario</th>
                                <th>Comentario</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Tabla de presentacion
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Aqui se muestran todos los comentarios registrados.</strong> Los usuarios no pueden ver los comentarios que no estan marcados como <strong class="text-success">Aprobado</strong>,
                            aquellos comentarios con la marca <strong class="text-danger">Sin aprobar</strong> no estan presentes en la pagina principal.
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingZero">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                            ¿Cómo leer el comentario completo?
                        </button>
                    </h2>
                    <div id="collapseZero" class="accordion-collapse collapse" aria-labelledby="headingZero"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">Para poder leer el comentario completo solo debes hacer click sobre el comentario dentro de la columna <strong>Comentario</strong>, se abrirá una ventana emergente con el comentario completo. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Cómo aprobar y desaprobar?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Para aceptar, rechazar o eliminar un comentario solo haz click sobre la tuerquita y elige la opcion, despues la pagina se recargará automaticamente,
                            si aceptaste o rechazaste algun comentario, su estado pasará a <strong class="text-success">Aprobado</strong> o <strong class="text-danger">Sin aprobar</strong> segun sea el caso.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Donde subo un comentario?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>No puedes subir un comentario.</strong> Solamente los usuarios comunes pueden proporcionar un comentario acerca de la pagina.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal LEER COMENTARIO-->
<div class="modal modal-dialog-scrollable fade" id="vercomm-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tiitle-modal">Comentario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea name="coment-zoom" id="coment-zoom" rows="10" class="text-muted"
                    style="width: 100%;border: 0; " readonly> </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Leido</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'comentarios/js/dash_comm.js' %}"></script>
<script
    src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/b-2.4.1/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rr-1.4.1/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
<script src="{% static 'blog/js/pages/demo.datatable-init.js' %}"></script>
<script src="{% static 'blog/js/hyper-syntax.js' %}"></script>
{%endblock%}