{% extends 'inicio_sesion/dashboard.html' %} {% load static %}
{% block content%}
<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/b-2.4.1/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rr-1.4.1/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
<script src="{% static 'blog/js/pages/code.jquery.com_jquery-3.7.0.js' %}"></script>

<style>
  .limitar-caracteres {
max-width: 0; /* Cambia esto al ancho deseado para limitar caracteres */
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
</style>
<div class="container-fluid">
  <div class="row"> 
      <div class="col-12">
          <div class="page-title-box">
              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                          <a href="javascript: void(0);">Plataforma</a>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="javascript: void(0);">Administrador</a>
                      </li>
                      <li class="breadcrumb-item active">Publicaciones</li>
                  </ol>
              </div>
              <h4 class="page-title text-uppercase">Posts<a href="#" class="btn"><i class="mdi mdi-plus-box-multiple-outline"></i> </a></h4>
          </div>
      </div>
  </div> 
  <div class="row">
      <div class="col-12">
          <table id="example" class="table table-striped"  style="width:100%; font-family: nunito;">
              <thead class="bg-primary-lighten">
                  <tr>
                      <th>Titulo</th>
                      <th>Categoria</th>
                      <th>Contenido</th>
                      <th>Fecha</th>
                      <th>Imagen</th>
                  </tr>
              </thead>
             <tbody>
              {% for pos in posts %}
              <tr>
                <td>
                  <a href="{% url 'ver_post' pos.id %}" class="text-secondary">{{pos.titulo}} </a>
                </td>
                <td>{{pos.categoria.nombre}}</td>
                <td class="limitar-caracteres">{{pos.contenido}}</td>
                <td>{{pos.fecha_publicacion}}</td>
                {% if pos.imagen %}
                <td>Si</td>
                {%else %}
                <td>No</td>

                {% endif %}
              </tr>
              {% endfor %}
             </tbody>
              <tfoot>
                <tr>
                  <th>Titulo</th>
                  <th>Categoria</th>
                  <th>Contenido</th>
                  <th>Fecha</th>
                  <th>Imagen</th>
              </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
<script src="{% static 'blog/js/pages/demo.datatable-init.js' %}"></script>

<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/b-2.4.1/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rr-1.4.1/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>

<script src="{% static '/blog/js/blog.js' %}"></script>
<script src="{% static 'blog/js/hyper-syntax.js' %}"></script>

{%endblock%}