{% extends 'inicio_sesion/dashboard.html' %} {% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />

<div class="container d-block justify-content-center" style="position: relative">
  <div id="alerta-categoria" style="display: none" class="row justify-content-end">
    <div class="col-lg- col-md-2 col-sm-12 col-12">
      <div class="alert alert-success" role="alert">Hecho.</div>
    </div>
  </div>

  <div class="container" style="margin-top: 7rem">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-5 col-sm-12 col-12 justify-content-center">
        <form>
          {% csrf_token %}

          <div class="mb-3">
            <div class="row justify-content-between align-items-end">
              <div class="col-10">
                <h4>Nuevo Post</h4>
                <input class="form-control" list="categoriaOptions" id="creador-blog-categoria"
                  name="creador-blog-categoria" placeholder="Categoria" />
                <datalist id="categoriaOptions">
                  {% for categoria in categorias %}
                  <option value="{{categoria.nombre}}"></option>
                  {%endfor%}
                </datalist>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#modal-categoria-agregar">
                  +
                </button>
                <div class="modal fade" id="modal-categoria-agregar" tabindex="-1"
                  aria-labelledby="modal-categoria-agregar" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" style="color: black" id="modal-categoria-agregar">
                          Agregar categoria
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% csrf_token %}
                        <form id="form-agregar-categoria" action="" method="post">
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="categoria-blog-nombre"
                              name="categoria-blog-nombre" placeholder="Titulo" />
                            <label for="categoria-blog-nombre">Nombre</label>
                          </div>
                          <div class="form-floating">
                            <input type="text" class="form-control" id="categoria-blog-descripcion"
                              name="categoria-blog-descripcion" placeholder="Descripción" />
                            <label for="categoria-blog-descripcion">Descripción</label>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          Cancelar
                        </button>
                        <button type="button" id="GuardarCategoria" class="btn btn-success">
                          Guardar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="creador-titulo-blog" name="creador-titulo-blog"
              placeholder="" />
            <label for="floatingInput">Titulo</label>
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="creador-contenido-blog"
              name="creador-contenido-blog" style="height: 50vh"></textarea>
            <label for="floatingTextarea2">Contenido</label>
          </div>
          <div class="mb-3">
            <label for="creador-archivo-blog" class="form-label">Imagen / Video</label>
            <input class="form-control" type="file" id="creador-archivo-blog" name="creador-archivo-blog" />
          </div>
          <div class="mb-3">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" id="publicar-blog" type="submit">Publicar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-6 justify-content-center">
        <div class="row">
          <div class="col-lg-4 col-12">
            <a style="text-decoration: none; color: black;" href="{% url 'mostrar_blog' %}" class="fs-4 fw-bold">Mis Post</a>
          </div>
          <div class="col-lg-8 col-12">
            <div class="input-group mb-3">
              <a class="btn btn-outline-secondary" href="http://3.144.80.153/admin/blog/post/" type="button"><i
                  class="bi bi-pencil"></i></a>
              <input type="text" class="form-control" list="posts" placeholder="Buscar post"
                onchange="buscarElemento(this.value)" />
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4" style="height: 80vh !important; overflow-y: scroll">
          {% for post in posts %}
          <div class="col">
            <a href="{% url 'ver_post' post.id %}" style="text-decoration: none">
              <div class="card" id="{{post.titulo}}" style="height: 20rem">
                <img src="{{post.imagen.url}}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{post.titulo}}</h5>
                  <p class="card-text limit-caracter">{{post.contenido}}</p>
                </div>
                <div class="card-footer">
                  <div class="row justify-content-between">
                    <div class="col">
                      <p class="card-text">
                        <small class="text-body-secondary">{{post.fecha_publicacion}}</small>
                      </p>
                    </div>
                    <div class="col text-end">
                      <p>
                        <small><i class="bi bi-heart-fill"></i> {{post.me_gusta}}
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {%endfor%} 
        </div>
      </div>
    </div>
  </div>
  <datalist id="posts">
    {% for post in posts %}
    <option value="{{post.titulo}}"></option>
    {%endfor%}
  </datalist>

  <!--BLOGS-PREVIOS-->
</div>
<script>
  function buscarElemento(valor) {
    var elemento = document.getElementById(valor);

    if (elemento) {
      elemento.scrollIntoView();
      elemento.classList.add("animated");
      setTimeout(function () {
        elemento.classList.remove("animated");
      }, 1200);
    }
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static '/blog/js/blog.js' %}"></script>
{%endblock%}