{% extends 'inicio_sesion/dashboard.html' %} {% load static %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="javascript: void(0);">Plataforma</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript: void(0);">Blog</a>
                        </li>
                        <li class="breadcrumb-item active">Post</li>
                    </ol>
                </div>
                <h4 class="page-title text-uppercase">Blog</h4>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-4 col-12 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body justify-content-center">
                        {% if post.imagen %}
                        <img src="{{post.imagen.url}}" class="img-fluid rounded"  alt="...">
                        {%else%}
                        <img src="{% static 'blog/img/porsi.jpg' %}"  class="img-fluid rounded"   alt="...">
    
                    {% endif %}
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-floating">
                                    <h3> {{post.titulo}}</h3>
                                    <hr>
                                    <textarea class="form-control" readonly style="height: 50vh; border:0px;" placeholder="Leave a comment here" id="floatingTextarea">{{post.contenido}}
                                    </textarea>
                                    
                                </div>
                                <p class="text-end "><small>{{post.autor}} , {{post.fecha_publicacion}}</small></p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
     
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />





{%endblock%}