@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Nunito&display=swap');

.limit-caracter {
  max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hover-grow {
  transition: all 0.5s;
}

.hover-grow:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
  
.bg-morado-gr{
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}
*{
  font-family: 'Montserrat', sans-serif;

}